html {
    position: relative;
    min-height: 100%;
}

main {
    margin: 30px
}

body {
    background-image: url("images/white_wall.png");
}

#logo {
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    #logo {
        font-size: 25px;
    }
}

#main-image {
    width: 300px;
    float: left;
    margin-right: 15px;
}

.portfolio-img {
    margin-top: 80px;
}